In [1]:
x = 7
y = "data"

print(x)
print(y)

my_variable=10
print(my_variable)

my_variable += 5 #adds 5 to existing
print(my_variable)

7
data
10
15

Working with Strings.

In [2]:
"Im into Data Science"

question = "What are you studying?"
answer = "Analytics"

print(question)
print(answer)

print(question + " " + answer)
### This is another way to print strings together
print(f"{question} {answer}")

What are you studying?
Analytics
What are you studying? Analytics
What are you studying? Analytics

In [3]:
### New line character
print(question + "\n" + answer)
print(f"{question}\n{answer}")

type(answer) # tells class

What are you studying?
Analytics
What are you studying?
Analytics

str

In [4]:
len(answer) # tells length of string

9

In [5]:
print(answer)
answer[0] ## First character
answer[2] ## third character
answer[-1] ## last character

Analytics

's'

In [6]:
course = "CTBA"

len(course) ## length of string
print(course[0:2])

CT

In [7]:
answer_cap = answer.upper()
print(answer_cap)

ANALYTICS

In [8]:
answer_low = answer.lower()
print(answer_low)

analytics

In [9]:
answer.find("t") #Finds the index of the first occurance of the letter "t"

5

In [10]:
name = "Trey McDonald"
print("Hello, my name is " + name + ". Nice to meet you!")

print(f"Hello, my name is {name}. Nice to meet you!")

Hello, my name is Trey McDonald. Nice to meet you!
Hello, my name is Trey McDonald. Nice to meet you!

In [11]:
t1 = (1, 2, 3, 4, 5) # This is a tuple
print(t1)

# t[0]= 11  This will give an error because tuples are immutable

(1, 2, 3, 4, 5)

In [ ]:
## Dictionary Example

d1 = {"name": "Trey McDonald", "age": 23, "city": "Williamsburg"}
print(d1["name"]) # Outputs Trey McDonald
d1["age"] = 24 # Updates age to 24

d1["email"] = "mcdonaldf@wm.edu" # adds new key value pair to dictionary
print(d1)

Trey McDonald
{'name': 'Trey McDonald', 'age': 24, 'city': 'Williamsburg', 'email': 'mcdonaldf@wm.edu'}

In [17]:
### print a better format usint .items method
for key, value in d1.items():
    print(key, ":" , value)

name : Trey McDonald
age : 24
city : Williamsburg
email : mcdonaldf@wm.edu

In [4]:
people = {
    "person1": {"name": "Trey McDonald", "age": 23, "city": "Williamsburg"},
    "person2": {"name": "John Smith", "age": 27, "City": "Kinnelon"}
}

print(people)
print(people["person1"]["age"]) # Outputs Trey McDonald
print(people["person2"]["City"]) # Outputs Kinnelon

{'person1': {'name': 'Trey McDonald', 'age': 23, 'city': 'Williamsburg'}, 'person2': {'name': 'John Smith', 'age': 27, 'City': 'Kinnelon'}}
23
Kinnelon

In [23]:
distances = {
    "A": {"B": 10, "C": 15},
    "B": {"A": 10, "C": 20},
    "C": {"A": 15, "B": 20}
}
print(distances)

{'A': {'B': 10, 'C': 15}, 'B': {'A': 10, 'C': 20}, 'C': {'A': 15, 'B': 20}}

In [29]:
student_gpa = {
    "Alice": {"name": "Alice", "major": "KINES", "GPA": 3.6, "# of courses": 4},
    "Bob": {"name": "Bob", "major": "Finance", "GPA": 3.8, "# of courses": 6},
    "Charlie": {"name": "Charlie", "major": "PSYCH", "GPA": 3.2, "# of courses": 5},
    "Trey": {"name": "Trey", "major": "KINES", "GPA": 3.4, "# of courses": 4},
}

print(student_gpa)

{'Alice': {'name': 'Alice', 'major': 'KINES', 'GPA': 3.6, '# of courses': 4}, 'Bob': {'name': 'Bob', 'major': 'Finance', 'GPA': 3.8, '# of courses': 6}, 'Charlie': {'name': 'Charlie', 'major': 'PSYCH', 'GPA': 3.2, '# of courses': 5}, 'Trey': {'name': 'Trey', 'major': 'KINES', 'GPA': 3.4, '# of courses': 4}}

In [31]:
### if statements in python

x= 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [36]:
### If else statement
x= 4
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is even

In [37]:
### if, elif, else

x= 0 
if x > 0:
    print("Positive")
elif x == 0:
    print("0")
else:
    print("Negative")

0

In [39]:
### For loops
for i in range(5):
    print("i is: ", i)

i is:  0
i is:  1
i is:  2
i is:  3
i is:  4

In [45]:
### While loops
x= 0
while x < 6:
    if x % 2 == 0:
        print(x, "is even")
    else:
        print(x, "is odd")
    x += 1

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [1]:
import numpy as np